{% extends 'cocktails/base.html' %}

{% block page_header %}
  <h3>{{ cocktail }}</h3>
{% endblock page_header %}

{% block content %}

  <div class="card mb-2">
    <h4 class="card-header">Description:</h4>
    <div class="card-body">
      {{ description|linebreaks }}
    </div>
  </div>

  <div class="card mb-2">
    <h4 class="card-header">Ingredients</h4>
    <ul>
      {% for ingredient in ingredients %}
        <li><a href="{% url 'cocktails:ingredient' ingredient.ingredient.id %}">{{ ingredient }}</a></li>
      {% empty %}
        <li>No ingredients have been added yet.</li>
      {% endfor %}
    </ul>
  </div>

  <div class="card mb-2">
    <h4 class="card-header">Steps:</h4>
    <div class="card-body">
      {{ steps|linebreaks }}
    </div>
  </div>
  <a href="{% url 'cocktails:edit_cocktail' cocktail.id %}"
  class="btn btn-outline-secondary" role="button">Edit</a>
  <a href="{% url 'cocktails:delete_cocktail' cocktail.id %}"
  class="btn btn-outline-danger" role="button">Delete</a>

{% endblock content %}
