{% extends "cocktails/base.html" %}

{% block page_header %}
  <h3>Edit cocktail:</h3>
{% endblock page_header %}

{% block content %}

  <form id="form-container" action="{% url 'cocktails:edit_cocktail' cocktail.id%}" method='post'>
    {% csrf_token %}

    <div class="form-group mb-2">
      <label for="id_{{form.name.name}}">Cocktail name</label>
      <input type="text"
        class="form-control"
        name="{{form.name.name}}"
        id="id_{{form.name.name}}"
        value="{{form.name.value}}"
        required>
      <small id="passwordHelpInline" class="text-danger">
        {{form.errors.name}}
      </small>
    </div>

    <div class="form-group mb-2">
      <label for="id_{{form.description.name}}">Description</label>
      <textarea
        class="form-control"
        rows="5"
        name="{{form.description.name}}"
        id="id_{{form.description.name}}"
        placeholder="Description"
        required>{{form.description.value}}</textarea>
    </div>

    <div class="form-group mb-2">
      <label for="id_{{form.steps.name}}">Steps</label>
      <textarea
        class="form-control"
        rows="5"
        name="{{form.steps.name}}"
        id="id_{{form.steps.name}}"
        required>{{form.steps.value}}</textarea>
    </div>

    {{formset.management_form}}
    Add ingredients and quantity
    {% for f_form in formset %}
      <div class="ingredients-form mb-2">
        {{ f_form }}
      </div>
    {% endfor %}
    <button id="add-form" class="btn btn-outline-secondary">Add ingredient</button>
    <button type="submit" class="btn btn-outline-primary">Save changes</button>
  </form>

  <script>
    let ingredientsForm = document.querySelectorAll(".ingredients-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = ingredientsForm.length-1
    addButton.addEventListener('click', addForm)

    function addForm(e){
      e.preventDefault()
      let newForm = ingredientsForm[0].cloneNode(true)
      let formRegex = RegExp(`form-(\\d){1}-`,'g')

      formNum++
      newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`)
      container.insertBefore(newForm, addButton)

      totalForms.setAttribute('value', `${formNum+1}`)
    }
  </script>

{% endblock content %}
