{% extends 'cocktails/base.html' %}

{% block page_header %}
  <h3>{{ ingredient }}</h3>
{% endblock page_header %}

{% block content %}

  <div class="card mb-2">
    <div class="card-body">
      {{ description|linebreaks }}
    </div>
  </div>
  <a href="{% url 'cocktails:edit_ingredient' ingredient.id %}"
  class="btn btn-outline-secondary" role="button">Edit</a>
  <a href="{% url 'cocktails:delete_ingredient' ingredient.id %}"
  class="btn btn-outline-danger" role="button">Delete</a>
{% endblock content %}
